<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bookParserDllName" value="OzonBookParser"/>
    <add key="bookParserName" value="OzonBookParser.OzonBookParser"/>
    <add key="bookSaverDllName" value="XmlBookSaver"/>
    <add key="bookSaverName" value="XmlBookSaver.XmlBookSaver"/>
  </appSettings>
</configuration>